@using WebMaze.Models.Morgue
@model List<RitualServiceViewModel>
@section Styles {
    <link rel="stylesheet" href="~/css/Morgue.css?t=@DateTime.Now.Ticks" />
}
<div>
    <h1 class="font-weight-light">Выберите ритуальную услугу</h1>
</div>
<table class="table-sm">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(x => x.SingleOrDefault().BurialType)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.SingleOrDefault().Description)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.SingleOrDefault().UrlPhoto)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.SingleOrDefault().Price)</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.BurialType
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <img class="img-for-morgue-service" src="@item.UrlPhoto" />
            </td>
            <td>
                @item.Price
            </td>
            <td>
                <div>@Html.ActionLink("Выбрать", "OrderFuneral", "Morgue", new { corpseId = ViewBag.corpseId, serviceId = item.Id }, new { @class = "btn btn-outline-secondary" })</div>
            </td>
        </tr>
    }
</table>