@using WebMaze.Models.Morgue
@model ContentForMorgueViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/Morgue.css?t=@DateTime.Now.Ticks" />
}
<div><img class="main-photo" src="@Model.UrlPhoto" /></div>
<div class="main-text"><pre>@Model.Text</pre></div>
<div class="btn-group">
    @if (User.Claims.SingleOrDefault(x => x.Type == "PlaceOfWork")?.Value == "morgue")
    {
        <div>@Html.ActionLink("показать  список тел", "ShowCorpse", "Morgue", null, new { @class = "btn btn-outline-secondary" })</div>
        <div>@Html.ActionLink("добавить ритуальную услугу", "AddRitualService", "Morgue", null, new { @class = "btn btn-outline-secondary" })</div>
        <div>@Html.ActionLink("показать заказы на похорны", "ShowFuneral", "Morgue", null, new { @class = "btn btn-outline-secondary" })</div>
        <div>@Html.ActionLink("редактировать главную страницу", "EditContent", "Morgue", null, new { @class = "btn btn-outline-secondary" })</div>
    }

    <div>@Html.ActionLink("показать услуги", "ShowRitualService", "Morgue", null, new { @class = "btn btn-outline-secondary" })</div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>@Html.ActionLink("ваши погибшие", "Home", "Morgue", null, new { @class = "btn btn-outline-secondary" })</div>

    }

    @if (User.Claims.SingleOrDefault(x => x.Type == "PlaceOfWork")?.Value == "police")
    {
        <div>@Html.ActionLink("показать список тел, прошедших вскрытие", "ShowListCorpsAutopsy", "Morgue", null, new { @class = "btn btn-outline-secondary" })</div>
    }
</div>