@using WebMaze.Models.Morgue
@model FuneralViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/Morgue.css?t=@DateTime.Now.Ticks" />
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
<div>
    <h2 class="font-weight-light">Данные по похоронам</h2>
</div>
<form id="myform" action="@Url.Action("OrderFuneral", "Morgue")" method="post">

    @Html.HiddenFor(x => x.CorpseId)
    @Html.HiddenFor(x => x.RitualServiceId)
    <div class="form-group">
        @Html.DisplayNameFor(x => x.DateOfFuneral)
        @Html.EditorFor(x => x.DateOfFuneral, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.DateOfFuneral)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.Comment)
        @Html.TextBoxFor(x => x.Comment, new { @class = "form-control" })
    </div>
    <div>
        <input class="btn btn-outline-secondary" type="submit" value="Отправить" />
    </div>
</form>