@using WebMaze.Models.Morgue
@model List<ListOfFuneralViewModel>
<div>Список, кого нужно захоронить</div>
<table>
    <tr>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().NameCorpse)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().SurnameCorpse)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().DateOfBirth)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().DateOfDeath)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Funeral.DateOfFuneral)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Funeral.Comment)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Service.BurialType)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Service.Description)</td>
    </tr>
    @foreach (var item in Model)
    {
        @if (item.Funeral.DateOfFuneral > DateTime.Now)
        {
            <tr>
                <td>@item.NameCorpse</td>
                <td>@item.SurnameCorpse</td>
                <td>@item.DateOfBirth</td>
                <td>@item.DateOfDeath</td>
                <td>@item.Funeral.DateOfFuneral</td>
                <td>@item.Funeral.Comment</td>
                <td>@item.Service.BurialType</td>
                <td>@item.Service.Description</td>
            </tr>

        }

    }
</table>
<div>Список захороненных</div>
<table>
    <tr>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().NameCorpse)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().SurnameCorpse)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().DateOfBirth)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().DateOfDeath)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Funeral.DateOfFuneral)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Funeral.Comment)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Service.BurialType)</td>
        <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Service.Description)</td>
    </tr>
    @foreach (var item in Model)
    {
        @if (item.Funeral.DateOfFuneral < DateTime.Now)
        {
            <tr>
                <td>@item.NameCorpse</td>
                <td>@item.SurnameCorpse</td>
                <td>@item.DateOfBirth</td>
                <td>@item.DateOfDeath</td>
                <td>@item.Funeral.DateOfFuneral</td>
                <td>@item.Funeral.Comment</td>
                <td>@item.Service.BurialType</td>
                <td>@item.Service.Description</td>
            </tr>
        }
    }
</table>