@using WebMaze.Models.Morgue
@model List<RitualServiceViewModel>
@section Styles {
    <link rel="stylesheet" href="~/css/Morgue.css?t=@DateTime.Now.Ticks" />
}
<div>
    <h1 class="font-weight-light">Список ритуальных услуг</h1>
</div>
<table class="table-sm">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(x => x.SingleOrDefault().BurialType)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.SingleOrDefault().Price)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.SingleOrDefault().Description)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.SingleOrDefault().UrlPhoto)</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BurialType</td>
            <td>@item.Price</td>
            <td>@item.Description</td>
            <td><img class="img-for-morgue-service" src="@item.UrlPhoto" /></td>
            @if (User.Claims.SingleOrDefault(x => x.Type == "PlaceOfWork")?.Value == "morgue")
            {
                <td>@Html.ActionLink("изменить ритуальную услугу", "EditRitualService", "Morgue", new { serviceId = item.Id }, new { @class = "btn btn-outline-secondary" })</td>
            }
        </tr>
    }
</table>
