@using WebMaze.Models.Morgue
@model List<RegisterCardForMorgueViewModel>
    <table>
        <tr>
            <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Name)</td>
            <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Surname)</td>
            <td>@Html.DisplayNameFor(x => x.SingleOrDefault().DateOfDeath)</td>
            <td>@Html.DisplayNameFor(x => x.SingleOrDefault().Gender)</td>
            <td>@Html.DisplayNameFor(x => x.SingleOrDefault().BodyDamage)</td>
            <td>@Html.DisplayNameFor(x => x.SingleOrDefault().ThingsFromBody)</td>
        </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Surname</td>
        <td>@item.DateOfDeath</td>
        <td>@item.Gender</td>
        <td>@item.BodyDamage</td>
        <td>@item.ThingsFromBody</td>
        <td> <div>@Html.ActionLink("показать отчет", "ShowReportAutopsy", "Morgue", new  {corpseId=item.Id })</div></td>
    </tr>
    }
    </table>